html {
  background-image: url("food.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
}
.body1 {
  width:100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;
}
.tastebutton {
  background-color: red;
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 2% 1%;
  cursor: pointer;
  border-radius: 20px;
  opacity: 0.9;
}
